/*
  style
  Descript:
  css for home page

  File name:     style.css
  Maintainer:    Kyle Gortych
  Created:       05-08-2022
  Last Modified: 01/13/2024
 */

@font-face {
  font-family: shure;
  src: url("../fonts/Shure Tech Mono Nerd Font Complete Mono Windows Compatible.ttf");
}

@font-face {
  font-family: enix;
  src: url("../fonts/Enixe.ttf");
}

:root {
  --nav-primary: rgba(60, 60, 60, 0.7);
  --nav-sceondary: rgba(240, 240, 240, 0.7);
  --nav-aria: #1e90ff;
  --hero-primary: rgba(0,0,0,0.5);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: shure;
  background-color: white;
}

main {
    position: relative;
    animation: slide;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyFrames slide {
    from {left -1000px; top: 0px; opacity: 0;}
    to {left 0px; top: 0px; opacity: 1;}
}

.hero-image {
  background: linear-gradient(var(--hero-primary), var(--hero-primary)), url("../img/hero.webp");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  inset: 70% 0 0 50%;
  transform: translate(-50%, -50%);
  color: white;
  font: 3rem enix;
  text-shadow: 4px 4px black;
}

nav {
  background-color: var(--nav-primary);
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  display: none;
}

nav a[aria-current="page"] {
  border-bottom: 3px solid var(--nav-aria);
}

nav li {
  list-style: none;
  padding: 10px;
}

nav a {
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  transition: 1s;
}

nav a:hover,
nav a:focus {
  color: black;
  text-shadow: 2px 2px white;
}

.nav-menu {
    background-color: var(--nav-primary);
    text-align: center;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.nav-menu img {
    display: block;
    margin: 30px 0px 50px 15px;
    width: 70px;
}

.nav-toggle-label {
    position: absolute;
    top: 30px;
    right: 0;
    margin-right: 1.5em;
}

span {
    font-size: 50px;
    color: white;
    transition: 1s;
}

span:hover {
    border-radius: 4px;
    background: gray;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    display: block;
}

section {
  padding: 0 150px 0 25px;
}

a {
    text-decoration: none;
    color: var(--nav-aria);
    text-shadow: 1px 1px black;
    transition: 1s;
}

a:hover {
    color: black;
    text-shadow: 1px 1px var(--nav-aria);
}

/* playlist */

.main-container {
    margin-right: auto;
    margin-left: 100px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.container .main-video {
  background: gray;
  border-radius: 5px;
  width: 100%;
}

.container .main-video video {
  width: 100%;
  border-radius: 5px;
}

.container .main-video .title {
  color: #333;
  font-size: 23px;
}

.container .video-list {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar {
  width: 7px;
}

.container .video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.container .video-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}

.container .video-list .vid video {
  width: 100px;
  border-radius: 5px;
}

.container .video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.container .video-list .vid:hover {
  background: #eee;
}

.container .video-list .vid.active {
  background: #2980b9;
}

.container .video-list .vid.active .title {
  color: #fff;
}

.container .video-list .vid .title {
  color: #333;
  font-size: 17px;
}
/* playlist end */

.pdf {
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
  background: #ccc url("../img/user-icon.webp") no-repeat left center;
  padding: 25px;
}

footer :is(h2,p,a) {
  padding-left: 170px;
}

/* media queries | mobile first*/

@media (min-width: 50em) {
    nav {
        top: 30px;
        background: none;
        display: block;
    }

    nav li {
        display: inline;
    }

    nav a {
        font-size: 1.7rem;
        padding:  0.1em;
    }

    nav h1 {
        text-align: left;
    }

    span {
        display: none;
    }

  /* playlist */

  .main-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
  }

  /* playlist End */
}
