RewriteEngine On
#Options ALL -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.html [NC,L]

RewriteRule ^.*/assets/.*$ - [F]
RewriteRule ^.*/.htaccess - [F]
RewriteRule ^.*/README.md - [F]
RewriteRule ^.*/LICENSE - [F]

# <Files .htaccess>
# Order allow,deny
# Deny from all
# </Files>
