RewriteEngine On
Options All -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.html [NC,L]

<Files .htaccess README.md LICENSE>
  Order allow,deny
  Deny from all
</Files>

<FilesMatch "^\.">
  Order allow,deny
  Deny from all
</FilesMatch>

<Directory ~ "\assets">
  Order allow,deny
  Deny from all
</Directory>
