/*
  style
  Descript:
  css for home page

  File name:     style.css
  Maintainer:    Kyle Gortych
  Created:       05-08-2022
  Last Modified: 01/12/2023
 */

@font-face {
  font-family: shure;
  src: url("../fonts/Shure Tech Mono Nerd Font Complete Mono Windows Compatible.ttf");
}

@font-face {
  font-family: enix;
  src: url("../fonts/Enixe.ttf");
}

:root {
  --nav-primary: rgba(60, 60, 60, 0.7);
  --nav-sceondary: rgba(240, 240, 240, 0.7);
  --hero-primary: rgba(0,0,0,0.5);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: shure;
  background-color: white;
}

.hero-image {
  background: linear-gradient(var(--hero-primary), var(--hero-primary)), url("../images/hero.webp");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  inset: 70% 0 0 50%;
  transform: translate(-50%, -50%);
  color: white;
  font: 3rem enix;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--nav-primary);
  z-index: 1;
}

nav a[aria-current="page"] {
  background-color: var(--nav-sceondary);
  color: black;
}

nav li {
  list-style: none;
  padding: 5px;
}

nav a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

nav a:hover,
nav a:focus {
  background-color: var(--nav-sceondary);
  color: black;
  transition: 1s;
}

section {
  padding: 0 150px 0 25px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  background-color: #ccc;
}

/* playlist */
.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.container .main-video {
  background: gray;
  border-radius: 5px;
  padding: 10px;
}

.container .main-video video {
  width: 100%;
  border-radius: 5px;
}

.container .main-video .title {
  color: #333;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container .video-list {
  background: #fff;
  border-radius: 5px;
  height: 520px;
  overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar {
  width: 7px;
}

.container .video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.container .video-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}

.container .video-list .vid video {
  width: 150px;
  border-radius: 5px;
}

.container .video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.container .video-list .vid:hover {
  background: #eee;
}

.container .video-list .vid.active {
  background: #2980b9;
}

.container .video-list .vid.active .title {
  color: #fff;
}

.container .video-list .vid .title {
  color: #333;
  font-size: 17px;
}
/* playlist end */

.pdf {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: #ccc url("../images/user-icon.webp") no-repeat left center;
  padding: 25px;
}

footer :is(h2,p) {
  padding-left: 170px;
}

/* media queries | mobile first*/

@media (min-width: 50em) {
  nav li {
    display: inline;
    margin: 0;
  }
  
  nav a {
    font-size: 1.4rem;
    padding:  0.6em;
  }

  /* playlist */
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
  }

  /* playlist End */
}
